@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap");
@import 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;

  font-family: "Bitter", serif;
  line-height: 1.4;
  color: #03312e;
background: #ffa900;


}
a {
  color: #000;
}

ul {
    list-style: circle;
}
p {
  margin: 5px 0;
  line-height: 1.7;
}

img {
  max-width: 100%;
}
button {
  background-color: WHITE;
  color: black;
  border: 2px solid WHITE;
}

h1,
h2
 {
    display: flex;
    justify-content: center;
    margin: auto;
    width: min(70%, 500px);
    text-align: center;


}

.chef {
    display: flex;
    justify-content: center;
    margin: auto;
    width: min(250px);
}
.block {
    display: flex;
    justify-content: center;
    margin:auto;
    border-radius: 25px;
    width: min(500px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.479);
}
.smallBlock {
    display: flex;
    margin: auto;
    border-radius: 50px;
    color:rgba(255, 255, 255);
    border-color: white;
    border-width: .5rem;
    font-size: 2rem;
}
.inspo {
    display: flex;
    margin-top: 25px;
    font-style: italic;
}
.img {
    display: block;
    margin:auto;
    border-radius: 25px;
    width: min(70%, 6500px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.479);


}
.img1 {
    display: flex;
    margin:auto;
    width: min(70%, 6500px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin-top: 3em;
    margin-bottom: 6em;

}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.title { 
    display: block;
    margin: auto;
    width: min(70%, 450px)
}

/* Navbar */ 

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #ffa900;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #333;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: #BF3100;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /* Navbar */ 

  .navbar {
    width: 100%;
    height: auto;
    color: black;
    background-color: white;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
   
}
.navbar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    margin: 1px 10px;
   font-weight: bold; 
}

.navbar a {
    color: var(--color-secondary);
    text-decoration: none;
}

.navbar a:hover {
    color: #7B0828;
}
.navbar-brand img{
    width: 69px;
    margin-left: 1em;
}

.navbar-nav-left {
    text-transform: none;
    flex: 1;
    margin-left: 10px;
    overflow: hidden;
}

.navbar-nav-right a {
    display: flex;
    align-items: center;
}

.navbar-nav-right img{
    width: 50px;

}


/* Dropdown */
.dropdown {
    float: left;
    overflow: hidden;
  }

  /* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: white;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }


.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #BF3100;
    color: white;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: var(--color-secondary);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #BF3100;
    color: white;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
    /* Buttons */

.btn {
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 1px black solid;
    border-radius: 15px;
    padding: 5px 7px;
    line-height: 2.1;
    text-align: center;
    text-decoration: none;
}

.btn-dark-outline {
    border-color: #0F0E0E;
    color: var(--color-tertiary);
}
.btn-dark {
    background-color: #BF3100;
    color: #fff;
}

.btn-dark:hover {
    background-color: #96939B;
}

.btn-dark-outline:hover {
    background-color: white;
}
.navbar-nav-right img {
    max-height: 40px;
    max-width: 40px;
}